body {
    font-family: Arial, sans-serif;
	align-content: center;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
}

.scrolling-wrapper {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.scrolling-wrapper .card {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 1rem;
}

.card img {
    height: 400px;
    object-fit: cover;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.scrolling-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
footer{
	background-color: #191970;
}
.navbar{
	background-color: #2F4F4F;
}
.session{
	display: flex;
	padding: 1rem -5rem;
}
.container mb-5{
	
}
.logo{
	width: 50px;
	height: 50px;
}
